---
import Base from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import { getOffres } from '../js/backend.mjs';
import { imageConfig } from 'astro:assets';


const offres = await getOffres();

---

<Base titre="Offres" >
    
    
        <div x-data="{ showFavorites: false }">
            <button @click="showFavorites = !showFavorites">
                <span x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>
            <div class=" grid grid-cols-3 gap-7  " x-show="!showFavorites">
                
                { offres.map((offre) => 
                  <ul>
                
                  
                    <Card {...offre} />
                  
                  </ul> 
                )
            }
            </div>
            <div class="grid grid-cols-3 gap-7" x-show="showFavorites">
                { offres.map((offre) => 
                    <ul>
                     {offre.favori && <Card {...offre} />}
                    </ul> 
                  )
                }
            </div>
        </div>
       
</Base>
