<footer class="p-3 bg-purple-200">
    <div>
    
        <div class="flex flex-wrap justify-between mt-5 gap-1">
            <div>
            <h3 class="text-xl font-bold mb-3 ">SELL A HOME</h3>
        <ul>
            <li><a href="">Request an offer<a/></li>
            <li><a href="">Pricing<a/></li>
            <li><a href="">Reviews<a/></li>
            <li><a href="">Stories<a/></li>
        </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-3">BUY A HOME</h3>
        <ul>
            <li><a href="">Buy<a/></li>
            <li><a href="">Finance<a/></li>
        </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-3">BUY , RENT ANS SELL</h3>
        <ul>
            <li><a href="">Buy ans sell propreties<a/></li>
            <li><a href="">Rent home<a/></li>
            <li><a href="">Builder trad-up<a/></li>
        </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-3">TERMS & PRIVACY</h3>
        <ul>
            <li><a href="">Trust & Safety<a/></li>
            <li><a href="">Terms of Service<a/></li>
            <li><a href="">Privacy Policy<a/></li>
        </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-3">ABOUT</h3>
        <ul>
            <li><a href="">Company<a/></li>
            <li><a href="">How it works<a/></li>
            <li><a href="">Contact<a/></li>
            <li><a href="">Investor<a/></li>
        </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-3">RESOURCES</h3>
        <ul>
            <li><a href="">Blog<a/></li>
            <li><a href="">Guides<a/></li>
            <li><a href="">FAQ<a/></li>
            <li><a href="">Help Center<a/></li>
        </ul>
        </div>
        
    </div>
    <div>
        <p>@2021 Estatery. All right reserved</p>
        <div>
</div>
</div>

</footer>